{% extends "base.html" %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="ui massive card">
    <div class="content">账户余额</div>
    <div class="content">{{balance}}</div>
</div>
<div class="ui large card">
    <div class="content">基本信息</div>
    <div class="content">姓名：{{pname}}</div>
    <div class="content">证件号：{{pid}}</div>
    <div class="content">生日：{{pbirth}}</div>
    <div class="content">性别：{{psex}}</div>
    <div class="content">电话：{{tel}}</div>
    <div class="content">注册时间：{{regtime}}</div>
</div>
{% endblock %}