{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>注册-网银</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.js"></script>
	<style type="text/css">
		body {
		  background-color: #ffffff;
		}
		body > .grid {
		  height: 100%;
		}
		.image {
		  margin-top: -100px;
		}
		.column {
		  max-width: 450px;
		  margin: auto;
		  position: absolute;
		  top:0;
		  bottom: 0;
		  left:0;
		  right: 0;
		}
	  </style>
</head>
<body>
	<div class="column">
	<form class="ui large form">
		<div class="ui stacked segment">
		  <div class="field">
			<div class="ui left icon input">
			  <i class="user icon"></i>
			  <input id="aid" type="text" name="aid" placeholder="卡号">
			</div>
		  </div>
          <div class="field">
			<div class="ui left icon input">
			  <i class="user icon"></i>
			  <input id="pname" type="text" name="pname" placeholder="姓名">
			</div>
		  </div>
          <div class="field">
			<div class="ui left icon input">
			  <i class="user icon"></i>
			  <input id="pid" type="text" name="pid" placeholder="18位证件号">
			</div>
		  </div>
          <div class="field">
			<div class="ui left icon input">
			  <i class="user icon"></i>
			  <input id="pbirth" type="date" name="pbirth" placeholder="生日">
			</div>
		  </div>
          <div class="field">
			<div class="ui left icon input">
			  <i class="user icon"></i>
			  <input id="psex" type="text" name="psex" placeholder="性别(M/F)">
			</div>
		  </div>
          <div class="field">
			<div class="ui left icon input">
			  <i class="user icon"></i>
			  <input id="tel" type="text" name="tel" placeholder="11位手机号">
			</div>
		  </div>
		  <div class="field">
			<div class="ui left icon input">
			  <i class="lock icon"></i>
			  <input id="pwd" type="password" name="pwd" placeholder="密码，长度小于20">
			</div>
		  </div>
          <div class="field">
			<div class="ui left icon input">
			  <i class="lock icon"></i>
			  <input id="pwd-check" type="password" name="pwd-check" placeholder="确认密码">
			</div>
		  </div>
		  <div class="ui fluid large teal submit button" onclick="postreg()">注册</div>
		</div>
  
		
  
	  </form>
	  <div class="ui error message">
		{% if fall %}
			{{message}}
		{% endif %}
	</div></div>

	

</body>
</html>
<script>
	function postreg() {
    var aid = $('#aid').val();
    var pname = $('#pname').val();
    var pid = $('#pid').val();
    var pbirth = $('#pbirth').val();
    var psex = $('#psex').val();
    var tel = $('#tel').val();
    var pwd = $('#pwd').val();
    var pwdCheck = $('#pwd-check').val();

	function vistr(value, len) {
        return value.length >0 && value.length <= len && !/[\ '"]/.test(value);
    }

	function vinum(value, len) {
		return value.length >0 && value.length <= len && /^[0-9]+$/.test(value);
	}

	function err(message) {
		$('.ui.error.message').html(message);
	}

	if (!vinum(aid, 20)) {
		err("不合法的卡号");
	}
	else if (!vistr(pname, 20)) {
		err("不合法的姓名");
	}
	else if (!vinum(pid, 18) || pid.length != 18) {
		err("不合法的证件号");
	}
	else if (psex != 'M' && psex != 'm' && psex != 'f' && psex != 'F') {
		err("请输入正确性别");
	}
	else if (!vinum(tel, 11) || tel.length != 11) {
		err("不合法的手机号");
	}
	else if (!vistr(pwd, 20)) {
		err("不合法的密码");
	}
    else if (pwdCheck != pwd) {
		err("两次密码不一致");
	}
	else {
    // 发送 AJAX 请求到后端
    $.ajax({
        url: '/register/',
        type: 'POST',
        data: {
            'aid': aid,
            'pname': pname,
            'pid': pid,
            'pbirth': pbirth,
            'psex': psex,
            'tel': tel,
            'pwd': pwd,
        },
        success: (ret) => {
            if (ret === 'success') {
                window.location = '/login/';
            } else {
                // 如果注册失败，将后端返回的内容显示在页面上
                $('.ui.error.message').html(ret);
            }
        }
    });
}
}

</script>