{% extends "base.html" %}

{% block content %}
<form class="ui form" action="/api/trans/" method="post" onsubmit="">
    <div class="field">
        <label>交易双重签名:</label>
        <input type="text" name="Sign" placeholder="请提供双重签名信息">
    </div>
    <div class="field">
        <label>PI:</label>
        <input type="text" name="PI">
    </div>
    <div class="field">
        <label>H_OI:</label>
        <input type="text" name="H_OI">
    </div>
    <div class="field">
        <label>CA证书:</label>
        <input type="text" name="Cer">
    </div>
    <div class="field">
        <label>RSA公钥-e:</label>
        <input type="text" name="User_e">
    </div>
    <div class="field">
        <label>RSA公钥-n:</label>
        <input type="text" name="User_n">
    </div>
    <div class="field">
        <label>支付人:</label>
        <input type="text" name="payer">
    </div>
    <button class="ui button" type="submit">提交</button>
</form>


{% endblock %}